<div class="cont16">
  <div class="container justify-content-between">
    <div class="row">
      <div class="col-md-6">
        <div class="text">
          <div class="ready">
            <h1><b>
              Recieve articles like<br>
              this in your mailbox</b>
            </h1>
          </div>
          <div class="text-1">
            Sign up to get weekly isights & inspiration in<br>
            your inbox
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input text-right">
          <span class="enter"> @ Enter work email</span>
          <button type="button" class="btn btn1">Try it Free</button>
        </div>
        <div class="peop">
        <span class="bolt">
          <i class="fa fa-bolt" aria-hidden="true"></i>
          6145 people
        </span>
          <span class="text-3">
          are reading this newsletter every week
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
