<div class="cont15">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <hr>
        <div class="cont-9">
          <div class="cont-15-1">
            <div>
              <img src="https://via.placeholder.com/80x80?text=Visit" class="image">
            </div>
            <div class="text">
              <div class="text-1">Erik Mathes</div>
              <div class="text-2">Content Marketing Strategist</div>
            </div>
          </div>
          <div class="text-1-1">
            <div class="me">Follow me on:</div>
            <div class="icon">
              <div class="icon-1">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </div>
              <div class="icon-1">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
