<div class="cont1">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="image">
          <img src="https://via.placeholder.com/550x380?text=Visit" class="image" />
        </div>
        <span class="blog">
          <a href="#">Blog Post</a>
        </span>
        <div class="text">
          How to optimize your Facebook & Instagram video ads for success
        </div>
        <div class="text1">
          Instagram and Facebook video ads are extremely popular among<br />
          marketers these days. Not only are they more engaging and<br />
          entertaining, they`re loved by many ...
        </div>
        <button type="button" class="btn btn2">Read story</button>
      </div>

      <div class="col-md-5">
        <app-cont2></app-cont2>
      </div>
    </div>
  </div>
</div>
