<div class="cont17">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="zag"><h3>Related blog Posts</h3></div>
        <div class="cont-17">
          <div class="images">
            <img src="https://via.placeholder.com/320x280?text=Visit" class="image">
          </div>
          <div class="text">
            <div class="blog">
              Blog Post
            </div>
            <div class="text-1">
              4 organic to improve your<br>
              website
            </div>
            <div class="read">
              Read Story
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-17-1">
          <div class="images">
            <img src="https://via.placeholder.com/320x280?text=Visit" class="image">
          </div>
          <div class="text">
            <div class="blog">
              Blog Post
            </div>
            <div class="text-1">
              4 organic to improve your<br>
              website
            </div>
            <div class="read">
              Read Story
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cont-17-2">
          <div class="images">
            <img src="https://via.placeholder.com/320x280?text=Visit" class="image">
          </div>
          <div class="text">
            <div class="blog">
              Blog Post
            </div>
            <div class="text-1">
              4 organic to improve your<br>
              website
            </div>
            <div class="read">
              Read Story
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
