.cont17 {
  margin-top: 100px;
}
.container {
  max-width: 1024px;
}
.text{
  font-family: 'Prompt', sans-serif;
  padding-top: 20px;
}
.blog {
  color: dodgerblue;
}
.text-1 {
  padding-top: 10px;
}
.read {
  width: 90px;
  border-bottom: 3px solid black;
  padding-top: 10px;
}
.read:hover {
  color: dodgerblue;
}
.zag {
  margin-bottom: 30px;
}
.cont-17-1 {
  margin-top: 65px;
}
.cont-17-2 {
  margin-top: 65px;
}

