<div class="cont8">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text">
          <div class="text-1">
            <h3>Ready to continue your video<br>
              marketing journey?</h3>
          </div>
          <br>
          <div class="text-2">
            Explore our latest report for all the best<br>
            practices & insights you`ll need to easily<br>
            navigate the video marketing landscape
          </div>
          <button type="button" class="btn btn1">Explore Report</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="url">
          <img src="https://via.placeholder.com/300x300?text=Visit" class="image">
        </div>
      </div>
    </div>
  </div>
</div>
